node_modules/
.next/
.vscode/

# Environment variables
.env
.env.local
.env.production
.env.development

# Netlify
.netlify/

# Misc
.DS_Store

# Scraping progress (temporary files)
app/data/scrape-progress.json
app/data/players-test.json

# Scraping scrips
scripts/